div.chart {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 830px;
    position: fixed;
}
h4 {
align-items: center;
}
/* .recharts-surface{
 margin-top: 200px;
} */
.recharts-wrapper{
    margin-top: 45px;
    position: fixed;
    color: blue;
}
.card.customer{
    width: 100%;
    margin-top: 210px;
}
@media Only screen and  (max-width:1200px) {
    div.chart {
        display: flex;
    }
    div.card.customer {
        width: 100%;
    }
    .recharts-wrapper {
        display: none;
    }
}