@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #3ea175;
  border: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  font-size: "Lato", sans-serif;
}
.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}
.font-bold {
  font-weight: 700;
}
.text-title {
  color: #2e4a66;
}
.text-lightblue {
  color: #469cac;
}
.text-red {
  color: #cc3d28;
}
.text-yellow {
  color: #a98921;
}
.text-green {
  color: #3b9668;
}

.container {
  display: block;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr  3fr;
  grid-template-areas: 
  "sidebar nav nav nav"
  "sidebar main main main";
}

@media only screen and ( max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "nav"
    "main";
  }
}